---
import Layout from '../layouts/Layout.astro';
import JuypterNotebook from '../components/JuypterNotebook.html';

---

<Layout title= 'Dashboard MR'>
    <main>    
        <JuypterNotebook />        
    </main>
</Layout>

