---
import Bell from '../icons/Bell.astro';
import Search from '../icons/Search.astro';
---

<nav class="flex items-center justify-between">
    <div>
        <h1 class="font-bold text-2xl xl:text-3xl">Bienvenido, Martin Reyes</h1>
    </div>
    
    <div class="flex gap-2">
        <Search />
        <Bell />
    
        <div class="flex gap-2 items-center ml-2">
            <img alt="user" class="aspect-square rounded-full w-10" src="/perfile.jpg">
            <p>Martin Reyes</p>
        </div>
    </div>
</nav>

<p>"¡Bienvenido al Dashboard, tu centro de control!"</p>